<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a routerLink="/">
      <img src="assets/img/KeepUpKeto.png"/>
    </a>
    <p class='clickableText' data-toggle="modal" data-backdrop="static" data-target="#loginModel">Already a member? <a style='color: #0079bf; font-family: arial; font-size: 12px'>Login</a></p>
  </div>
</nav>

<div class="row">

  <div class="col-6 text-center" style="margin-top: auto; margin-bottom: auto;">
    <div id="intro">
      <div class="landing-header">Fully Customizable, Ready-Made</div>
      <div class="landing-header">Keto Meal Plans</div>
    </div>
  </div>

  <div class="col-6">
    <img class="big-img" src="assets/img/landing-phone.png" />
  </div>

</div>

<div class="mb-3"></div>

<div class="row" style="background-color: white; padding-top: 20px;">

  <div class="col-12 text-center">

    <div class="landing-header">Why Keto?</div>

  </div>

</div>

<div class="container-fluid" style="padding-top: 20px; background-color: white;">

  <div class="container">

    <div class="row">

      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
        <img class="big-img" src="assets/img/landing-man-lose.png" />
      </div>

      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
        <img class="big-img" src="assets/img/landing-woman-lose.png" />
      </div>

    </div>

    <div class="container" style="padding-top: 20px;">

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a target="_blank" href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/verylowcarbohydrate-ketogenic-diet-v-lowfat-diet-for-longterm-weight-loss-a-metaanalysis-of-randomised-controlled-trials/6FD9F975BAFF1D46F84C8BA9CE860783">
            Research</a> suggests Keto is better than low fat diets for losing weight
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> Potential to reduce <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/obr.12230">cravings & appetite </a>
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a href="https://www.nature.com/articles/ejcn201390">Further research</a> shows people who particpate in a Ketogenic diet lost 13% of their body weight over an 8-week period
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a href="https://www.ncbi.nlm.nih.gov/books/NBK499830/">Power your body by burning fat</a>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="container" style="padding-top: 20px;">

  <div class="row">

    <div class="col-12 text-center">
      <div class="landing-header">Why Us?</div>
    </div>

  </div>

  <div class="row">

    <div class="col-12 text-center">

      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />

    </div>

  </div>

  <div class="row">

    <div class="container" style="padding-top: 15px;">
      <p><b>Researched from Academic Resources</b></p>
      <p>
        At KeepUpKeto, we have thoroughly researched the ketogenic diet and have created an app which will help guide you into ketosis. With thousands
        of delicious recipes to choose from we guarentee that you'll love our service!
      </p>

      <p><b>Fully customizable, unlimited options</b></p>
      <p>
        Our AI-powered algorithm will find recipes based on your favorite ingredients. If overtime you decide you'd like
        a change, simply remove all your recipes and fill them with new ones within the click of a button!
      </p>

    </div>

  </div>

</div>

<div class="row" style="background-color: white; padding-top: 20px">

  <div class="col-6" style="padding-left: 60px;">
    <img class="big-img" src="assets/img/landing-calander.png" />
  </div>

  <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
    <div class="landing-header">A goal without a plan is just a wish.</div>
  </div>

</div>

<div class="row" style="padding-top: 20px">

  <div class="col-6" style="margin-top: auto; margin-bottom: auto; padding-left: 5em;">

    <div class="landing-header">Easily shop for your ingredients</div>

    <div class="mb-3"></div>

    <div class="landing-sub-header">
      Shop for ingredients in your plan within seconds from your favourite supermarkets including
      Tesco, Asda, Walmart, AmazonFoods and many more!
    </div>


  </div>

  <div class="col-6">
    <img class="big-img" src="assets/img/landing-shopping.png" />
  </div>

</div>

<div class="container-fluid" style="background-color: white; padding-top: 20px">

  <div class="row">

    <div class="col-6 text-center" style="margin-top: auto; margin-bottom: auto;">
      <img src="assets/img/landing-guarentee.png" />
    </div>

    <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
      <div class="landing-header">
        Risk free. No Questions Asked.
      </div>
    </div>

  </div>

</div>

<div class="container-fluid">

  <div class="row" style="background-color: #FFEFF0; padding-top: 20px">

    <div class="col-4">
      &copy; KeepUpKeto 2020
    </div>

    <div class="col-8 text center">
      Disclaimer - FAQs - Terms of Service - Contact Us
    </div>

  </div>

</div>

<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-8">
        Begin creating your meal plan now!
      </div>

      <div class="col-4">
        <button class="btn btn-rose" data-toggle="modal" data-backdrop="static" data-target="#signUpModel">
          Start
        </button>
      </div>
    </div>
  </div>
</div>

<div #loginModal class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="loginModel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" *ngIf="loginStep === 0">Login</h5>
        <h5 class="modal-title" *ngIf="loginStep === 1">Reset password</h5>
        <button #closeLoginModal type="button" (click)='loginStep = 0' class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form class='text-center' #loginForm='ngForm' (ngSubmit)='submitSignInDetails(loginForm)' ngNativeValidate [hidden]='loginStep !== 0'>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">email</i></span>
            </div>
            <input type="email" name="emailLogin" class="form-control" value="" placeholder="Email" ngModel #emailLogin='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!emailLogin.valid || emailLogin.value.length === 0) && emailLogin.touched'>
            Please enter a valid email address
          </p>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">lock</i></span>
            </div>
            <input type="password" name="passwordLogin" class="form-control" placeholder="Password" ngModel #passwordLogin='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!passwordLogin.valid || passwordLogin.value.length === 0) && passwordLogin.touched'>
            Please enter in your password
          </p>

          <p class="help-block" *ngIf='loginAttemptFailed === true'>
            Incorrect login details, please check you are typing in your details correctly
          </p>

          <p class="help-block" style="color: green" *ngIf='resetPasswordSuccess === true'>
            An email has been sent to your email address to reset your password
          </p>

          <button type="submit" class="btn btn-primary">Login</button>
          <p class="clickableText" (click)="loginStep = 1">Forgot password?</p>

        </form>

        <form class='text-center' #forgotPassword='ngForm' (ngSubmit)='submitResetPassword(forgotPassword)' ngNativeValidate [hidden]='loginStep !== 1'>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">email</i></span>
            </div>
            <input type="email" name="forgotEmail" id='forgotEmail' class="form-control" placeholder="Email" ngModel #forgotEmail='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!forgotEmail.valid || forgotEmail.value.length === 0) && forgotEmail.touched'>
            Please enter a valid email address
          </p>

          <p class="help-block" *ngIf='resetPasswordError === true'>
            We can't find that email in our system. Please check you've typed it in correctly.
          </p>

          <button type="submit" class="btn btn-primary">Reset password</button>

          <p class="clickableText" (click)="loginStep = 0">Go back to login</p>

        </form>

	    </div>

    </div>
  </div>
</div>

<div class="modal fade" id="signUpModel" tabindex="-1" role="dialog" aria-labelledby="signUpModel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="step1label" *ngIf='signUpStep===0'>Help us find recipes for you by selecting your preferred ingredients</h5>
        <h5 class="modal-title" id="step2label" *ngIf='signUpStep===1'>To help us calculate your required nutrients please enter in your details</h5>
        <h5 class="modal-title" id="step3label" *ngIf='signUpStep===2'>These details are required to log in</h5>
        <button type="button" class="close" data-dismiss="modal" (click)='signUpStep=0' aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- INGREDIENTS FORM -->
        <ng-container *ngIf='signUpStep === 0'>

          <button class="btn btn-default btn-round text-left" *ngIf='!porkSelected' style="display:block; min-width:100%" (click)="addIngredient('pork')"><img src="assets/img/ingredients/pork.png" style="width: 40px; height: 28px; margin-right: 20px" /> Pork <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='porkSelected' style="display:block; min-width:100%" (click)="removeIngredient('pork')"><img src="assets/img/ingredients/pork.png" style="width: 40px; height: 28px; margin-right: 20px" /> Pork <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button class="btn btn-default btn-round text-left" *ngIf='!chickenSelected' style="display:block; min-width:100%" (click)="addIngredient('chicken')"><img src="assets/img/ingredients/chicken.png" style="width: 40px; height: 28px; margin-right: 20px" /> Chicken <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='chickenSelected' style="display:block; min-width:100%" (click)="removeIngredient('chicken')"><img src="assets/img/ingredients/chicken.png" style="width: 40px; height: 28px; margin-right: 20px" /> Chicken <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button class="btn btn-default btn-round text-left" *ngIf='!vealSelected' style="display:block; min-width:100%" (click)="addIngredient('veal')"><img src="assets/img/ingredients/veal.png" style="width: 40px; height: 28px; margin-right: 20px" /> Veal <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='vealSelected' style="display:block; min-width:100%" (click)="removeIngredient('veal')"><img src="assets/img/ingredients/veal.png" style="width: 40px; height: 28px; margin-right: 20px" /> Veal <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button class="btn btn-default btn-round text-left" *ngIf='!eggsSelected' style="display:block; min-width:100%" (click)="addIngredient('eggs')"><img src="assets/img/ingredients/eggs.png" style="width: 40px; height: 28px; margin-right: 20px" /> Eggs <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='eggsSelected' style="display:block; min-width:100%" (click)="removeIngredient('eggs')"><img src="assets/img/ingredients/eggs.png" style="width: 40px; height: 28px; margin-right: 20px" /> Eggs <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button class="btn btn-default btn-round text-left" *ngIf='!berriesSelected' style="display:block; min-width:100%" (click)="addIngredient('berries')"><img src="assets/img/ingredients/berries.png" style="width: 40px; height: 28px; margin-right: 20px" /> Berries <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='berriesSelected' style="display:block; min-width:100%" (click)="removeIngredient('berries')"><img src="assets/img/ingredients/berries.png" style="width: 40px; height: 28px; margin-right: 20px" /> Berries <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button class="btn btn-default btn-round text-left" *ngIf='!nutsSelected' style="display:block; min-width:100%" (click)="addIngredient('nuts')"><img src="assets/img/ingredients/nuts.png" style="width: 40px; height: 28px; margin-right: 20px" /> Nuts <div class="pull-right"><i class='material-icons'>highlight_off</i></div></button>
          <button class="btn btn-success btn-round text-left" *ngIf='nutsSelected' style="display:block; min-width:100%" (click)="removeIngredient('nuts')"><img src="assets/img/ingredients/nuts.png" style="width: 40px; height: 28px; margin-right: 20px" /> Nuts <div class="pull-right"><i class='material-icons'>check</i></div></button>

          <button type="button" class="btn btn-primary pull-right" (click)="signUpStep = signUpStep + 1">Next</button>

        </ng-container>

        <!-- METRICS FORM -->
        <div id='Metrics' [hidden]="signUpStep!==1">
          <form #metricsForm='ngForm' ngNativeValidate>
            <div id="user-data">

              <div class="form-group">
                <label for='sex'>Goals</label>
                <div class="form-check text-center">
                  <label class="form-check-label space-right" (click)='goals = -1'>
                    <input class="form-check-input" type="radio" name="loseOne" id="loseOne" value="option1" checked="" ngModel #loseOne='ngModel'>
                    Lose one LB a week
                    <span class="circle">
                      <span class="check" *ngIf='goals === -1'></span>
                    </span>
                  </label>

                  <label class="form-check-label space-right" (click)='goals = 0'>
                    <input class="form-check-input" type="radio" name="maintain" id="maintain" value="option2" checked="">
                    Maintain weight
                    <span class="circle">
                      <span class="check" *ngIf='goals === 0'></span>
                    </span>
                  </label>

                  <label class="form-check-label" (click)='goals = 1'>
                    <input class="form-check-input" type="radio" name="gainOne" id="gainOne" value="option3" checked="">
                    Gain one LB a week
                    <span class="circle">
                      <span class="check" *ngIf='goals === 1'></span>
                    </span>
                  </label>

                </div>
              </div>

              <div class="form-group">
                <label for='sex'>Sex</label>
                <div class="form-check text-center">
                  <label class="form-check-label space-right" (click)='male = true'>
                    <input class="form-check-input" type="radio" name="male" id="male" value="option1" checked="">
                    Male
                    <span class="circle">
                      <span class="check" *ngIf='male'></span>
                    </span>
                  </label>

                  <label class="form-check-label" (click)='male = false'>
                    <input class="form-check-input" type="radio" name="female" id="female" value="option2" checked="">
                    Female
                    <span class="circle">
                      <span class="check" *ngIf='male == false'></span>
                    </span>
                  </label>

                </div>
              </div>

              <!-- Height -->

              <div class="form-group">
                <label for="height">Height</label>
                <div class="input-group" *ngIf='centimeters'>
                  <input type="number" name="centimeters" id="centimeters" placeholder='Centimeters' class="form-control" ngModel #modelCentimeters='ngModel' minlength='2' required [disabled]='!centimeters'>
                  <div class="input-group-append">
                    <button class='btn' [ngClass]="{'btn-default' : !centimeters, 'btn-primary' : centimeters}" (click)='centimeters=true'>Cm</button>
                    <button class='btn' [ngClass]="{'btn-default' : centimeters, 'btn-primary' : !centimeters}" (click)='centimeters=false'>Ft</button>
                  </div>
                  <span class="help-block" *ngIf='(!modelCentimeters.valid || modelCentimeters.value.length === 0) && modelCentimeters.touched'>
                    Please make sure you enter in your height in centimeters
                  </span>
                </div>

                <div class="input-group" *ngIf='!centimeters'>
                  <input type="number" name="feet" placeholder="Feet" class="form-control" ngModel #modelFeet='ngModel' required [disabled]='centimeters'>
                  <input type="number" name="inches" placeholder="Inches" class="form-control" ngModel #modelInches='ngModel' required [disabled]='centimeters'>
                  <div class="input-group-append">
                    <button class='btn' [ngClass]="{'btn-default' : !centimeters, 'btn-primary' : centimeters}" (click)='centimeters=true'>Cm</button>
                    <button class='btn' [ngClass]="{'btn-default' : centimeters, 'btn-primary' : !centimeters}" (click)='centimeters=false'>Ft</button>
                  </div>
                  <span class="help-block" *ngIf='((!modelFeet.valid || modelFeet.value.length === 0) && modelFeet.touched) || (!modelInches.valid || modelInches.value.length === 0) && modelInches.touched'>
                    Please make sure you enter in your height in feet and inches
                  </span>
                </div>

              </div>

              <!-- Weight -->

              <div class="form-group">
                <label for="weight">Weight</label>
                <div class="input-group" *ngIf='lbs'>
                  <input type="number" name="pounds" id="pounds" placeholder='Pounds' class="form-control" ngModel #modelPounds='ngModel' minlength='2' required [disabled]='!lbs'>
                  <!-- [disabled]='!lbs' -->
                  <div class="input-group-append">
                    <button class='btn' [ngClass]="{'btn-default' : !lbs, 'btn-primary' : lbs}" (click)='lbs=true'>Lbs</button>
                    <button class='btn' [ngClass]="{'btn-default' : lbs, 'btn-primary' : !lbs}" (click)='lbs=false'>KG</button>
                  </div>
                  <span class="help-block" *ngIf='(!modelPounds.valid || modelPounds.value.length === 0) && modelPounds.touched'>
                    Please make sure you enter in your weight in pounds
                  </span>
                </div>

                <div class="input-group" *ngIf='!lbs'>
                  <input type="number" name="kilograms" id="kilograms" placeholder="Kilograms" class="form-control" ngModel #modelKilograms='ngModel' minlength='2' required [disabled]='lbs'>
                  <!-- [disabled]='lbs' -->
                  <div class="input-group-append">
                    <button class='btn' [ngClass]="{'btn-default' : !lbs, 'btn-primary' : lbs}" (click)='lbs=true'>Lbs</button>
                    <button class='btn' [ngClass]="{'btn-default' : lbs, 'btn-primary' : !lbs}" (click)='lbs=false'>KG</button>
                  </div>
                  <span class="help-block" *ngIf='(!modelKilograms.valid || modelKilograms.value.length === 0) && modelKilograms.touched'>
                    Please make sure you enter in your weight in kilograms
                  </span>
                </div>

              </div>

              <!-- Age -->

              <div class="form-group">
                <label for="Age">Date of Birth</label>
                <input type="date" name="dateOfBirth" id="dateOfBirth" class="form-control" ngModel min="01-01-1900" max="01/01/2010" #dateOfBirth='ngModel' required>
                <span class="help-block" *ngIf='!dateOfBirth.valid && dateOfBirth.touched'>
                  Please make sure you enter a valid date of birth
                </span>
              </div>

            </div>

            <button class="btn btn-default pull-left" [disabled]='!metricsForm.valid' (click)="signUpStep = signUpStep - 1">Prev</button>
            <button type="submit" class="btn btn-primary pull-right" [disabled]='!metricsForm.valid' (click)="assignUserMetrics(); signUpStep = signUpStep + 1">Next</button>

          </form>

        </div>

        <!-- SIGNUP FORM -->
        <div id='payment' [hidden]="signUpStep!==2">

          <form #signUpForm='ngForm'>
            <div id="user-data">
              <div class="form-group">
                <label for="name" required>Name</label>
                <input type="text" name="name" id="name" class="form-control" ngModel minlength=1 #name='ngModel'>
                <span class="help-block" *ngIf='(!name.valid || name.value.length === 0) && name.touched'>Please enter a valid name</span>
              </div>
              <div class="form-group">
                <label for="email" required email>Email</label>
                <input type="email" name="email" id="email" class="form-control" ngModel email #email='ngModel'>
                <span class="help-block" *ngIf='(!email.valid || email.value.length === 0) && email.touched'>Please enter a valid email</span>
              </div>
            </div>
            <div class="form-group">
              <label for="pwd">Password</label>
              <input type="password" name="password" id="password" class="form-control" ngModel required minlength=6 #password='ngModel'>
              <span class="help-block" *ngIf='(!password.valid || password.value.length === 0) && password.touched'>Please enter at least six characters</span>
            </div>

            <div class="text-center">
              <h3>Limited time offer!</h3>
              <h3><small>7 days free! Then only</small></h3>
              <h3 class="card-title" style='color:red; text-decoration: line-through'>
                <small>$25/mo</small>
              </h3>
              <h2 class="card-title">
                $15/mo
              </h2>
            </div>

            <div #paypal></div>
            <span class="help-block" *ngIf='buttonError && !signUpForm.valid'>Please make sure the values above are valid before checking out</span>
          </form>
        </div>
        <br><br><br>
        <div class="progress progress-striped active" [hidden]="signUpStep > 2">
          <div class="progress-bar progress-bar-info" role='progressbar' [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax="100" style="width:0%"><span class="sr-only">0/3 steps</span></div>
        </div>
      </div>

    </div>
  </div>
</div>
