/* #background {
  background: url('~src/assets/img/bg-landing.png');
  background-size: cover;
  width: 100%;
  height: 70%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 0;
} */

.stretch {
  width:100%;
  height:100%;
}

#background {
  background-image: url('~src/assets/img/bg-landing.png');
  background-repeat: no-repeat;
  background-color: white;
  background-size: 100%;
  position: absolute;
  /* left: -12px; */
  /* top: -2px; */
  width: 100%;
  height: 100%;
  z-index: 0;
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.help-block {
  color: red;
}

.space-right{
  padding-right: 10px
}

.clickableText {
  cursor: pointer;
}

.landing-header {

  font-family: "Gilroy", sans-serif;
  font-weight: bold;
  color: #232055;
  line-height: normal;

}

.big-img{
  width: 100%;
}

@media screen and (min-width: 400px) {

  .landing-header {

    font-size: 24px;

  }

  .landing-sub-header {

    font-size: 18px;

  }

}


@media screen and (min-width: 800px) {

  .landing-header {

    font-size: 24px;

  }

  .landing-sub-header {

    font-size: 18px;
    /* line-height: 15px; */

  }

}

@media screen and (min-width: 1100px) {

  .landing-header {

    font-size: 40px;

  }

  .landing-sub-header {

    font-size: 28px;
    line-height: 35px;

  }

}
