<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a routerLink="/">
      <img src="assets/img/KeepUpKeto.png"/>
    </a>
    <p class='clickableText' data-toggle="modal" data-backdrop="static" data-target="#loginModel"><a style='color: #0079bf; font-family: arial; font-size: 12px'>Login</a></p>
  </div>
</nav>

<div class="row">

  <div class="col-6 text-center" style="margin-top: auto; margin-bottom: auto;">
    <div id="intro">
      <div class="landing-header">Fully Customizable, Ready-Made</div>
      <div class="landing-header">Keto Meal Plans</div>
    </div>
  </div>

  <div class="col-6">
    <img class="big-img" src="assets/img/landing-phone.png" />
  </div>

</div>

<div class="mb-3"></div>

<div class="row" style="background-color: white; padding-top: 20px;">

  <div class="col-12 text-center">

    <div class="landing-header">Why Keto?</div>

  </div>

</div>

<div class="container-fluid" style="padding-top: 20px; background-color: white;">

  <div class="container">

    <div class="row">

      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
        <img class="big-img" src="assets/img/landing-man-lose.png" />
      </div>

      <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
        <img class="big-img" src="assets/img/landing-woman-lose.png" />
      </div>

    </div>

    <div class="container" style="padding-top: 20px;">

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a target="_blank" href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/verylowcarbohydrate-ketogenic-diet-v-lowfat-diet-for-longterm-weight-loss-a-metaanalysis-of-randomised-controlled-trials/6FD9F975BAFF1D46F84C8BA9CE860783">
            Research</a> suggests Keto is better than low fat diets for losing weight
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> Potential to reduce <a href="https://onlinelibrary.wiley.com/doi/abs/10.1111/obr.12230">cravings & appetite </a>
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a href="https://www.nature.com/articles/ejcn201390">Further research</a> shows people who particpate in a Ketogenic diet lost 13% of their body weight over an 8-week period
        </div>

      </div>

      <div class="row">

        <div class="col-12">
          <img src="assets/img/checkmark.png" /> <a href="https://www.ncbi.nlm.nih.gov/books/NBK499830/">Power your body by burning fat</a>
        </div>

      </div>

    </div>

  </div>

</div>

<div class="container" style="padding-top: 20px;">

  <div class="row">

    <div class="col-12 text-center">
      <div class="landing-header">Why Us?</div>
    </div>

  </div>

  <div class="row">

    <div class="col-12 text-center">

      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />
      <img src="assets/img/star.png" />

    </div>

  </div>

  <div class="row">

    <div class="container" style="padding-top: 15px;">
      <p><b>Researched from Academic Resources</b></p>
      <p>
        At KeepUpKeto, we have thoroughly researched the ketogenic diet and have created an app which will help guide you into ketosis. With thousands
        of delicious recipes to choose from we guarentee that you'll love our service!
      </p>

      <p><b>Fully customizable, unlimited options</b></p>
      <p>
        Our AI-powered algorithm will find recipes based on your favorite ingredients. If overtime you decide you'd like
        a change, simply remove all your recipes and fill them with new ones within the click of a button!
      </p>

    </div>

  </div>

</div>

<div class="row" style="background-color: white; padding-top: 20px">

  <div class="col-6" style="padding-left: 60px;">
    <img class="big-img" src="assets/img/landing-calander.png" />
  </div>

  <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
    <div class="landing-header">A goal without a plan is just a wish.</div>
  </div>

</div>

<div class="row" style="padding-top: 20px">

  <div class="col-6" style="margin-top: auto; margin-bottom: auto; padding-left: 5em;">

    <div class="landing-header">Easily shop for your ingredients</div>

    <div class="mb-3"></div>

    <div class="landing-sub-header">
      Shop for ingredients in your plan within seconds from your favourite supermarkets including
      Tesco, Asda, Walmart, AmazonFoods and many more!
    </div>


  </div>

  <div class="col-6">
    <img class="big-img" src="assets/img/landing-shopping.png" />
  </div>

</div>

<div class="container-fluid" style="background-color: white; padding-top: 20px">

  <div class="row">

    <div class="col-6 text-center" style="margin-top: auto; margin-bottom: auto;">
      <img src="assets/img/landing-guarentee.png" />
    </div>

    <div class="col-6" style="margin-top: auto; margin-bottom: auto;">
      <div class="landing-header">
        Risk free. No Questions Asked.
      </div>
    </div>

  </div>

</div>

<div class="container-fluid">

  <div class="row" style="background-color: #FFEFF0; padding-top: 20px">

    <div class="col-4">
      &copy; KeepUpKeto 2020
    </div>

    <div class="col-8 text center">
      Disclaimer - FAQs - Terms of Service - Contact Us
    </div>

  </div>

</div>

<div class="modal fade" id="loginModel" tabindex="-1" role="dialog" aria-labelledby="loginModel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" *ngIf="loginStep === 0">Login</h5>
        <h5 class="modal-title" *ngIf="loginStep === 1">Reset password</h5>
        <button type="button" (click)='loginStep = 0' class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">

        <form class='text-center' #loginForm='ngForm' (ngSubmit)='submitSignInDetails(loginForm)' ngNativeValidate [hidden]='loginStep !== 0'>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">email</i></span>
            </div>
            <input type="email" name="emailLogin" class="form-control" value="" placeholder="Email" ngModel #emailLogin='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!emailLogin.valid || emailLogin.value.length === 0) && emailLogin.touched'>
            Please enter a valid email address
          </p>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">lock</i></span>
            </div>
            <input type="password" name="passwordLogin" class="form-control" placeholder="Password" ngModel #passwordLogin='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!passwordLogin.valid || passwordLogin.value.length === 0) && passwordLogin.touched'>
            Please enter in your password
          </p>

          <p class="help-block" *ngIf='loginAttemptFailed === true'>
            Incorrect login details, please check you are typing in your details correctly
          </p>

          <p class="help-block" style="color: green" *ngIf='resetPasswordSuccess === true'>
            An email has been sent to your email address to reset your password
          </p>

          <button type="submit" class="btn btn-primary">Login</button>
          <p class="clickableText" (click)="loginStep = 1">Forgot password?</p>

        </form>

        <form class='text-center' #forgotPassword='ngForm' (ngSubmit)='submitResetPassword(forgotPassword)' ngNativeValidate [hidden]='loginStep !== 1'>

          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="material-icons">email</i></span>
            </div>
            <input type="email" name="forgotEmail" id='forgotEmail' class="form-control" placeholder="Email" ngModel #forgotEmail='ngModel' required>
          </div>
          <p class="help-block" *ngIf='(!forgotEmail.valid || forgotEmail.value.length === 0) && forgotEmail.touched'>
            Please enter a valid email address
          </p>

          <p class="help-block" *ngIf='resetPasswordError === true'>
            We can't find that email in our system. Please check you've typed it in correctly.
          </p>

          <button type="submit" class="btn btn-primary">Reset password</button>

          <p class="clickableText" (click)="loginStep = 0">Go back to login</p>

        </form>

	    </div>

    </div>
  </div>
</div>

