<div class="container" style="padding-bottom: 100px">

  <div class="row" style="padding: 15px">

    <div class="col-7">
      <h4>Your progress</h4>
    </div>

    <div class="col-5 text-right">
      <select name="recipeType" id="recipeType" class="browser-default custom-select" [(ngModel)]='selectedHistoryOption' (ngModelChange)='retrieveProgressFromFirebase()'>
        <option selected>Past month</option>
        <option>Past three months</option>
        <option>Past six months</option>
        <option>Past year</option>
      </select>
    </div>

  </div>

  <div class="row">

    <div class="col-12">

      <canvas #myChart id="myChart" width="400" height="200"></canvas>

    </div>

  </div>

  <div class="mb-5"></div>

  <div class="row">

    <div class="col-12">

      <h4>Add weight</h4>

    </div>

  </div>

  <div class="row">

    <div class="col-12 text-center">

      <form #addWeightForm='ngForm' ngNativeValidate>

        <input type="number" name="weightKG" id="weightKG" class="form-control" placeholder="Kilograms" ngModel #weightKG='ngModel' minlength='1' required>
        <div class="mb-3"></div>
        <!-- ngModel #date='ngModel' -->
        <input type="date" name="date" id="date" class="form-control" [(ngModel)]='todayDate' required>

        <div class="mb-3"></div>

        <button class="btn btn-primary" (click)="addWeightToProgress()">
          Save
        </button>

        <p class="help-block" style="color: red" *ngIf='formError'>
          Please enter valid values before trying to submit
        </p>

      </form>

    </div>

  </div>

</div>

<footer>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/home">
      <span class="box_img home d-block"></span>
      <span class="d-block content">Home</span>
    </a>
  </div>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/plan">
      <span class="box_img plan d-block"></span>
      <span class="d-block content">Plan</span>
    </a>
  </div>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/progress">
        <span class="box_img prog d-block"></span>
        <span class="d-block content">Progress</span>
    </a>
  </div>

  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/settings">
      <span class="box_img settings d-block"></span>
      <span class="d-block content">Help</span>
    </a>
  </div>
</footer>
