<div class="container" style="background: white">

  <div class="row">

    <div class="col-6 col-sm-6" style="padding-left: 30px">

      <h4>Your Meal Plan</h4>

      <div class="row">

        <div class="col-md-12" style='border-left: 2px solid #bac9ff'>
          <h6>Eaten</h6>
          <p><img src='assets/img/eat.png' /> 300 kcal</p>
        </div>

      </div>

      <div class="mt-2"></div>

      <div class="row">

        <div class="col-md-12" style='border-left: 2px solid #ffb9ce'>
          <h6>Burned</h6>
          <p><img src='assets/img/burn.png' /> 200 kcal</p>
        </div>

      </div>

    </div>

    <div class="col-6 col-sm-6 text-center">

      <!-- <img src="assets/img/calory_circle.png" width=230 height=230> -->

    </div>

  </div>

  <div class="row">

    <div class="col-3 col-sm-3">
      <h6>Carbs</h6>
      <div class="progress p1">
        <div class="progress-bar " role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" style="width: 30%;"></div>
      </div>
      <p>12g left</p>
    </div>

    <div class="col-3 col-sm-3">
      <h6>Protein</h6>
      <div class="progress p2">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" style="width: 80%;"></div>
      </div>
      <p>30g left</p>
    </div>

    <div class="col-3 col-sm-3">
      <h6>Fat</h6>
      <div class="progress p3">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" style="width: 20%;"></div>
      </div>
      <p>10g left</p>
    </div>

    <div class="col-3 col-sm-3">
      <h6>Calories</h6>
      <div class="progress p4">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" style="width: 40%;"></div>
      </div>
      <p>20g left</p>
    </div>

  </div>

</div>

<div class="container">
  <div class="row">
    <div class="dropdown">
      <div class="mt-5"></div>
      <div class="text-center">More info</div>
    </div>
  </div>
</div>

<div class="container" style="background: #f3f5f9">

  <div class="row">

    <div class="col-6 col-sm-6">
      <h3>Monday</h3>
      <small>(Swipe left to see all meals)</small>
    </div>

    <div class="col-6 col-sm-6 text-right">
      <h4>Plan your week <img src="assets/img/menu.png" alt="Weekly plan" /></h4>
    </div>

  </div>

  <div class="mb-5"></div>

  <owl-carousel [options]="mySlideOptions" [items]="myCarouselItems" [carouselClasses]="['owl-carousel', 'owl-theme']">
    <div class="item" *ngFor="let item of mySlideItems;let i = index">
      <div [class]="item.recipeTypeHTML">
        <div class="row">
            <div class="col-12">
              <img src="./assets/img/{{item.recipeTypeHTML}}_main.png" alt="" class="inner_img">
              <div class="inner_text">
                <h3>{{item.recipeType}}</h3>
                <h4>{{item.name}}</h4>
                <h4>{{item.calories}} kcal</h4>
              </div>
            </div>
        </div>
      </div>
    </div>
   </owl-carousel>

</div>

<div class="footerSeparator" style="height: 150px"></div>
