<div class="container">
  <div class="row">
    <div class="col-lg-12">
        <div class="btn-group" role="group" *ngIf="showDaily===true">
        <button type="button" class="btn btn-primary" (click)="showDaily=true">Daily</button>
        <button type="button" class="btn btn-primary btn-link" (click)="showDaily=false">Weekly</button>
        </div>

        <div class="btn-group" role="group" *ngIf="showDaily===false">
          <button type="button" class="btn btn-primary btn-link" (click)="showDaily=true">Daily</button>
          <button type="button" class="btn btn-primary" (click)="showDaily=false">Weekly</button>
        </div>

        <div class="btn btn-rose pull-right" (click)='generateTimetable()'>Generate</div>
        <div class="btn btn-default pull-right" (click)='clear()'>Clear All</div>

        <!-- <div class="dropdown show pull-right">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown link
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Table 1</a>
              <a class="dropdown-item" href="#">Table 2</a>
              <a class="dropdown-item" href="#">Table 3</a>
            </div>
          </div> -->

        <!-- <ng-container *ngIf='todayRecipes !== undefined'> -->

        <table class="table" *ngIf="showDaily==true">
            <thead>
                <tr>
                  <th><strong>Type</strong></th>
                  <th><strong>Name</strong></th>
                  <th><strong>Carbs</strong></th>
                  <th class="text-right"><strong>Actions</strong></th>
                </tr>
            </thead>
            <ng-container *ngIf='todayRecipes !== undefined'>
            <tbody *ngFor="let currentRecipe of todayRecipes.recipes; let i = index">
                <tr>
                    <td>{{currentRecipe.recipeType}}</td>
                    <td>{{currentRecipe.name}}</td>
                    <td>{{currentRecipe.carbs}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" class="btn btn-info">
                            <i class="material-icons">person</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-success">
                            <i class="material-icons">edit</i>
                        </button>
                        <button type="button" rel="tooltip" class="btn btn-danger" (click)="this.timetableService.removeRecipeByObject(this.todayRecipes, i);">
                            <i class="material-icons">close</i>
                        </button>
                        {{this.todayRecipes.noOfRecipes}}
                    </td>
                </tr>
            </tbody>

            <td></td>
            <td></td>
            <td></td>
            <td class="text-right">Calories remaining: {{todayRecipes.caloriesRemaining}}</td>
            </ng-container>
        </table>

      <div class="weekly-table" *ngIf="showDaily==false">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center"><strong>Day</strong></th>
                    <th><strong>Type</strong></th>
                    <th><strong>Name</strong></th>
                    <th><strong>Calories</strong></th>
                    <th class='showBasedOnSS'><strong>Carbs</strong></th>
                    <th class='showBasedOnSS'><strong>Protein</strong></th>
                    <th class='showBasedOnSS'><strong>Fat</strong></th>
                    <th class="text-right"><strong>Actions</strong></th>
                </tr>
            </thead>
            <!-- <div class="table-class" *ngFor="let currentDay of allRecipes"> -->
            <tbody *ngFor="let currentDay of allRecipes; let i = index;">
                <tr style="background-color: #f7f7f7"> <!--background: linear-gradient(to bottom, #f7f7f7, #ECEBEB)-->
                    <td class="text-center" style="color:black"><strong>{{currentDay.day}}</strong></td>
                    <td></td>
                    <td></td>
                    <td class='showBasedOnSS'></td>
                    <td class='showBasedOnSS'></td>
                    <td class='showBasedOnSS'></td>
                    <td></td>
                    <td class="td-actions text-right">
                        <div class="btn-group">
                          <button type="button" rel="tooltip" class="btn btn-primary" (click)="currentDay.show=false" *ngIf="currentDay.show">
                              <i class="material-icons">arrow_drop_up</i>
                          </button>
                          <button type="button" rel="tooltip" class="btn btn-primary" (click)="currentDay.show=true" *ngIf="!currentDay.show">
                              <i class="material-icons">arrow_drop_down</i>
                          </button>
                          <button type="button" class="btn btn-success btn-round" (click)="this.timetableService.dayToAddRecipeTo = i" data-toggle="modal" data-target="#exampleModal">
                              <i class="material-icons">add</i>
                          </button>
                        </div>
                    </td>
                </tr>
                <ng-container *ngIf="currentDay.show === true">

                  <tr *ngFor="let current of currentDay['recipes']; let j = index;">
                      <td class="td-actions text-center">
                        <button type="button" rel="tooltip" class="btn btn-success btn-round">
                        <i class="material-icons"><a href="{{current.url}}" target="_blank">edit</a></i>
                        </button>
                      </td>
                      <td>{{current.recipeType}}</td>
                      <td>{{current.name}}</td>
                      <td>{{current.calories}}</td>
                      <td class='showBasedOnSS'>{{current.carbs}}g</td>
                      <td class='showBasedOnSS'>{{current.protein}}g</td>
                      <td class='showBasedOnSS'>{{current.fat}}g</td>
                      <td class="td-actions text-right">
                          <button type="button" rel="tooltip" class="btn btn-danger btn-round" (click)="this.timetableService.removeRecipeByIndex(i,j);">
                              <i class="material-icons">close</i>
                          </button>
                      </td>
                  </tr>

                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class='showBasedOnSS'>{{currentDay.totalCarbs}}</td>
                    <td class='showBasedOnSS'>{{currentDay.totalProtein}}</td>
                    <td class='showBasedOnSS'>{{currentDay.totalFat}}</td>
                    <td class="text-right">Calories remaining: {{currentDay.caloriesRemaining}}</td>
                  </tr>
                </ng-container>
              </tbody>
        </table>
      </div>
    <!-- </ng-container> -->
      <!-- (click)="allRecipes[i].recipes.push({}) -->

    </div>
  </div>
</div>
