@media all and (max-width: 775px) {

  /* SS means Screen Size */
  .showBasedOnSS{display:none;}

}

.addFoodBlock {

  display:block;
  min-width:100%

}

.btn-default:hover {

  background-color: #EA1E63;

}

.help-block {

  color: red;

}
