<div class="container">

  <div class="col-sm-5"></div>

  <div class="col-sm-2">
    <mat-progress-spinner class="text-center" mode="indeterminate" *ngIf="!dataLoaded"></mat-progress-spinner>
  </div>

  <div class="col-sm-5"></div>

</div>

<div class="container" style="background: #f3f5f9; padding-bottom: 100px" *ngIf='dataLoaded'>

  <div class="row">

    <div class="col-12 col-sm-12 text-center">
      <h3>{{foodDetails.name}}</h3>
      <img [src]='foodDetails.image' class="img-raised rounded img-fluid" />
    </div>

  </div>


  <div class="row">

    <!-- Blank col to center the two main cols -->
    <div class="col-sm-2">

    </div>

    <div class="col-sm-4">
      <h3>Contents</h3>
      <p *ngFor="let content of foodDetails.contents">
        {{content}}
      </p>
      <!-- <div class="text-center">
        <h3>Instructions</h3>
        <a [href]="recipeDetails.url" target="_blank">
          <div class="btn btn-primary">View Instructions</div>
        </a>
      </div> -->
    </div>

    <div class="col-sm-4">

      <h3>Nutrition</h3>

      <h6>Carbs</h6>
      <div class="progress p1">
        <div class="progress-bar " role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars.carbsPercentage + '%'"></div>
      </div>
      <p>{{progressBars.carbsTotal}}g of your {{progressBars.carbsDaily}}g daily carbs</p>

      <h6>Protein</h6>
      <div class="progress p2">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars.proteinPercentage + '%'"></div>
      </div>
      <p>{{progressBars.proteinTotal}}g of your {{progressBars.proteinDaily}}g daily protein</p>

      <h6>Fat</h6>
      <div class="progress p3">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars.fatPercentage + '%'"></div>
      </div>
      <p>{{progressBars.fatTotal}}g of your {{progressBars.fatDaily}}g daily fat</p>

      <h6>Calories</h6>
      <div class="progress p4">
        <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars.caloriesPercentage + '%'"></div>
      </div>
      <p>{{progressBars.caloriesTotal}} of your {{progressBars.caloriesDaily}} daily calories</p>

    </div>

    <!-- Blank col to center the two main cols -->
    <div class="col-sm-2"></div>

  </div>

  <!-- <iframe src="https://www.edamam.com/recipe/spaghetti-al-limone-with-poached-chicken-recipe-dfc4749a140a2fe2922b4d6b818a779b/chicken/0-500-cal" style="width: 100%; height: 1000px"></iframe> -->

</div>

<footer>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/home">
      <span class="box_img home d-block"></span>
      <span class="d-block content">Home</span>
    </a>
  </div>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/plan">
      <span class="box_img plan d-block"></span>
      <span class="d-block content">Plan</span>
    </a>
  </div>
  <!-- <div class="col-2 col-sm-2 f-box" data-toggle="modal" data-target="#mainModal">
      <div class="box_pattern">
        <span class="plus_btn clickable" data-toggle="modal" data-target="#exampleModal"><img src="assets/img/footer_plus.png"></span>
      </div>
  </div> -->
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/progress">
        <span class="box_img progress d-block"></span>
        <span class="d-block content">Progress</span>
    </a>
  </div>

  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/settings">
      <span class="box_img settings d-block"></span>
      <span class="d-block content">Settings</span>
    </a>
  </div>
</footer>
