<div class="title text-center"><strong>{{currentDay}}</strong></div>
      <div class="col-lg-12">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr>
                        <th><strong>Type</strong></th>
                        <th><strong>Time</strong></th>
                        <th><strong>Name</strong></th>
                        <th><strong>Carbs</strong></th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let currentRecipe of todayRecipes.recipes">
                        <td>{{ currentRecipe.recipeType }}</td>
                        <td>{{ currentRecipe.name }}</td>
                        <td>{{ currentRecipe.time }}</td>
                        <td>{{ currentRecipe.carbs }}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
  </div>

