<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>

<script async="true" src="https://cdn.whisk.com/sdk/shopping-list.js" type="text/javascript"></script>
<script>
  var whisk = whisk || {};
  whisk.queue = whisk.queue || [];

  whisk.queue.push(function () {
    whisk.shoppingList.defineWidget("HETI-XHHE-RNCR-CYIU");
  });
</script>

</head>

<body>

<article class="h-recipe">
  <h1 class="p-name">Bagels</h1>

  <ul>
    <li class="p-ingredient">Flour</li>
    <li class="p-ingredient">Sugar</li>
    <li class="p-ingredient">Yeast</li>
  </ul>

  <p>Takes <time class="dt-duration" datetime="1H">1 hour</time>,
     serves <data class="p-yield" value="4">four people</data>.</p>

  <div class="e-instructions">
    <ol>
      <li>Start by mixing all the ingredients together.</li>
    </ol>
  </div>
</article>


<div id="HETI-XHHE-RNCR-CYIU">
  <script>
    whisk.queue.push(function () {
      whisk.display("HETI-XHHE-RNCR-CYIU");
    });
  </script>
</div>

<!--

<button onclick(addRecipesToShoppingList())>Add recipes to shopping list</button>

<script>

function addRecipesToShoppingList() {

	whisk.queue.push(function() {
		whisk.listeners.addClickListener(
			'whisk-multiple-recipes',
			'shoppingList.addRecipesToList',
			{
				recipes: [
					'https://www.goodtoknow.co.uk/recipes/baked-spiced-chicken-with-couscous',
					'https://www.bbcgoodfood.com/recipes/strawberry-green-goddess-smoothie',
					'https://www.bbcgoodfood.com/recipes/bone-broth'
				],
			}
		);
	});
}
</script>

-->


</body>
</html>
