<nav class="navbar" id="sectionsNav" style="background-color:crimson">
  <div class="container">
      <div class="navbar-translate">
          <a class="navbar-brand" routerLink="/" ><strong>{{title}}</strong></a>
      </div>
  </div>
</nav>

  <router-outlet></router-outlet>

<footer>
  <!-- <div class="row"> -->
      <div class="col-md-2 f-box">
          <a href="#">
              <span class="box_img diary d-block"></span>
              <span class="d-block content">Diary</span>
          </a>
      </div>
      <div class="col-md-2 f-box">
          <a href="#">
              <span class="box_img friend d-block"></span>
              <span class="d-block content">Friends</span>
          </a>
      </div>
      <div class="col-md-2 f-box">
          <div class="box_pattern">
              <a href="#">
                  <span class="plus_btn"><img src="assets/img/footer_plus.png"></span>
              </a>
          </div>
      </div>
      <div class="col-md-2 f-box">
          <a routerLink="/timetable">
              <span class="box_img plans d-block"></span>
              <span class="d-block content">Plans</span>
          </a>
      </div>

      <div class="col-md-2 f-box">
          <a href="#">
          <span class="box_img recipes d-block"></span>
          <span class="d-block content">Recipes</span>
      </a>
      </div>

  <!-- </div> -->
</footer>
