<div class="container-fluid">

  <div class="row">

    <div class="col-md-8 border-right" style='min-height: 500px'>
      <ul class="nav nav-pills nav-pills-primary" style="display: flex;justify-content: center">
        <li class="nav-item">
          <a class="nav-link active" href="#whatwedo" data-toggle="tab">What we do</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#howitworks" data-toggle="tab">How it works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutketo" data-toggle="tab">About Keto</a>
        </li>
      </ul>

      <div class="tab-content" style='padding-top: 50px; padding-left: 10px; padding-right: 10px'>
        <div id="whatwedo" class="tab-pane active">

          <p>Our keto diet plans are designed to help you achieve a state of nutritional ketosis by finding recipes which contain an appropriate amount of fat, protein and carbs based on your own food preferences. We allow <b>full customisation of your keto meal plan</b> by giving you the option to remove recipes you may dislike and adding new ones in their place.</p>
          <p><b>We do not believe that customers should be given a fixed diet plan for a certain amount of days then have to buy a new one if they dislike it or if they would like a new variety of foods to eat.</b></p>
          <p>Although a more manual approach to finding your favourite recipes is an option, you can generate a full keto meal plan automatically if you wish or generate recipes to fill in the remaining nutrients you require to complete the week.</p>
          <p>Our diet plans contain recipes with a breakdown of the necessary ingredients and full instructions on how to prepare the food.</p>


        </div>
        <div id="howitworks" class="tab-pane">

          <p>Your keto meal plan can <b>easily be generated upon the click of a button</b>, you receive a finite amount of times you can automatically generate the meal plan a day. By simply clicking the Generate button on the right, the app will find recipes to fill the remaining calories and nutrients for each day. You can also manually search for recipes by
          selecting the green + icon on the right and add whatever recipes suit you! </p>

          <p>If you do not wish to fully generate all the meals for your diet plan, you can preselect recipes by searching for them then click the generate button to fill in the rest of day, <b>you get the best of both worlds!</b></p>


        </div>
        <div id="aboutketo" class="tab-pane">

          <p>The ketogenic diet involves eating high-fat, moderate-protein and low-carb foods consistently for an extended amount of time. The key is to reach a state of ‘nutritional ketosis’ – this state occurs when ketone bodies accumulate in the body. Normally, the body uses glucose as the primary source of energy; when the body is deprived of carbohydrates, glucose levels deplete and the body begins going through metabolic changes – ketogenesis is one of metabolic processes which occurs when a low amount of carbs are being consumed.</p>
          <p>The ketogenesis metabolic process involves the production of ketone bodies which replace glucose as the primary source of energy to fuel it. <b>When there is a low amount of glucose in the blood, the need for fat and glucose storage reduces significantly</b>. This would suggest that <b>a keto diet is more beneficial to losing fat than alternative higher carb diets</b> as fats get broken down and used when in a state of nutritional ketosis as opposed to being stored. This is just one of the key motivators for switching to a ketogenic diet. [1]</p>
          <p>Due to the high fat intake, a positive effect of a ketogenic diet is the decrease of food cravings. Other positive effects include: <b>a decrease in appetite-stimulating hormones</b> such as insulin and ghrelin; <b>a reduction in hunger</b> due to the role of ketone bodies and <b>a greater ratio of fat-loss to lean body mass</b>, partly due to decreased insulin levels. [2]</p>
          <p>A keto diet is considered to be safe, as ketone bodies are only produced in small concentrations, they won’t affect blood pH levels. People have reported minor short-term symptoms often referred to as the keto flu. These symptoms may include nausea, vomiting, headache, fatigue, dizziness, insomnia, difficulty in exercise tolerance, and constipation. Remaining hydrated and drinking plenty of water will help combat these short-lived symptoms. [1]
            </p>

        </div>
      </div>

    </div>

    <div class="col-md-4 text-center" style="margin: auto">
      <p style='font-size: 18px; font-family: arial'>Start your free trial now!</p>

      <div class="btn btn-rose" data-toggle="modal" data-target="#signUpModel"><a style="font-size: 14px">Generate meal plan</a></div>

       <p><a style='color: #0079bf; font-family: arial; font-size: 12px'>or click here to login</a></p>
    </div>

  </div>

</div>
