<div class="title text-center"><strong>My Progress</strong></div>
        <div class="card card-profile card-plain">
          <div class="row">
            <div class="col-lg-6">
              <div class="card-avatar">
                  <a href="#pablo">
                      <img class="img" src="assets/img/default-photo.png">
                  </a>
              </div>
            </div>
            <div class="col-lg-6">
                <div>
                  <br/><br/>
                    <span class="btn btn-raised btn-round btn-default btn-file ml-auto mr-auto">
                    <span class="fileinput-new">Add Photo</span>
                    <input type="file" name="..." /></span>
                 </div>
            </div>
          </div>
          <br/>
          <hr>
            <div class="card-body">
                <h6 class="card-title text-left">Welcome back {{this.accountDetails.name}}!</h6>
                <p class="card-description text-left">
                    Start Weight: 88kg
                    <br/>
                    Goal Weight: 80kg
                </p>
                <a href="#pablo" class="btn btn-info btn-round">View Profile</a>
            </div>
        </div>
