html {
  height: 100%;
  margin: auto;
  overflow-x : hidden
}

.clickable {
  cursor: pointer;
}

.dropdown {

  background: url('assets/img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;

}

/* progress */
.progress {
  overflow: visible;
  height: 10px;
}
.progress {
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  height: 5px;
}
.progress.p1{
background:#eaeefc;
}
.progress.p2{
background:#ffe7ee;
}
.progress.p3{
background:#fff4ce;
}
.progress.p4{
background:#dff4ed;
}
.progress.p1 .progress-bar {
  background: #c3d1ff; /* Old browsers */
background: -moz-linear-gradient(left, #c3d1ff 0%, #98afff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #c3d1ff 0%,#98afff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #c3d1ff 0%,#98afff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 20px;
}
.progress.p2 .progress-bar {
  background: #ffa1be; /* Old browsers */
  background: -moz-linear-gradient(left, #ffa1be 0%, #ff578a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffa1be 0%,#ff578a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffa1be 0%,#ff578a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}
.progress.p3 .progress-bar {
  background: #ffd65c; /* Old browsers */
  background: -moz-linear-gradient(left, #ffd65c 0%, #ffc24b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffd65c 0%,#ffc24b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffd65c 0%,#ffc24b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}
.progress.p4 .progress-bar {
   background: #cff5e8; /* Old browsers */
  background: -moz-linear-gradient(left, #cff5e8 0%, #89d8bc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cff5e8 0%,#89d8bc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cff5e8 0%,#89d8bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}

/* Carousel */

inner_img {
  margin-top: -20px;
  padding-left: 10px;
}

img.inner_img {
  margin-top: -20px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.inner_text {

  color: white;
  margin-top: -30px;
  padding-left: 10px;

}

.owl-item {
  opacity: 0;
  transition: opacity 500ms;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.owl-item.active {
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.add {
  background: url('assets/img/add_recipe_bg.png');
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 22px;
  border: 2px dashed #89d8bc;
    box-shadow: 8px 16px 14.07px -4.93px rgba(255, 255, 255, 0.29);
  -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(255, 255, 255, 0.29);
  min-height: 250px;
  overflow:visible;

}

.breakfast{
  background: url('assets/img/breakfast_bg.png');
  background-size: 100%;
  background-position: 0 0;
  background-color: #fb757f;
  background-repeat: no-repeat;
  border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(250, 116, 127, 0.29);
  -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(250, 116, 127, 0.29);
  min-height: 325px;
  overflow:visible
}
  .lunch{
  background: url('assets/img/lunch_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #5f65e0;
    background-repeat: no-repeat;
    border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(94, 100, 223, 0.29);
  -webkit-box-shadow:8px 16px 14.07px -4.93px rgba(94, 100, 223, 0.29);
    min-height: 325px;
  }
  .snack{
  background: url('assets/img/snack_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #ff6896;
    background-repeat: no-repeat;
    border-radius: 22px;
     box-shadow: 8px 16px 14.07px -4.93px rgba(255, 85, 137, 0.29);
    -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(255, 85, 137, 0.29);
    min-height: 325px;
  }
  .dinner{
  background: url('assets/img/dinner_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #e78d0c;
    background-repeat: no-repeat;
    border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(233, 144, 16, 0.29);
  -webkit-box-shadow:8px 16px 14.07px -4.93px rgba(233, 144, 16, 0.29);
  min-height: 325px;
  }

/*footer*/
footer {
  /* padding: 15px 20px; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}
footer .f-box{
flex: 20%;
  max-width: 20%;
}
a .box_img {
  width: 25px;
  height: 25px;
  background: url('assets/img/sprite.png');
  background-repeat: no-repeat;
  background-position: -1px 0;
  margin: 0 auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a:hover .box_img.diary{
background-position: -1px -43px;
transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a .box_img.friend{
background-position: -1px -87px;
}
a:hover .box_img.friend{
background-position: -1px -130px;
}
a .box_img.plans{
background-position: -1px -177px;
}
a:hover .box_img.plans{
background-position: -1px -227px;
}
a .box_img.recipes{
background-position: -1px -277px;
}
a:hover .box_img.recipes{
background-position: -1px -330px;
}
footer a:hover .content{
color: #ff457d;
transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer a .content {
  margin: 0 auto;
  color: #aeabbc;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

}
.plus_btn {
  padding-top: 8px;
  width: 47px;
  height: 47px;
  color: #fff;
  background-color: #ff457d;
  border-radius: 15px;
  display: block;
  text-align: center;
  margin: 0 auto ;
  box-shadow: 0px 8px 7.6px 0.4px rgba(255, 69, 125, 0.34);
  -webkit-box-shadow: 0px 8px 7.6px 0.4px rgba(255, 69, 125, 0.34);
}

.box_pattern {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  width: 67px;
  margin: -35px auto 0;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
#panel {
  padding: 0 20px 40px;
  display:none;
  width: 100%;

}

/* @media screen and (max-width: 575px){
  .mid_inner:before {
      bottom: -80px;
      background-size: 115%;
      background-position: center;
  }
.progress_main .m-left {
    top: 38px;
}
.progress_main .col-6.col-sm-3 {
    padding-bottom: 10px;
}
.top_sec {
    padding: 40px 20px 0;
    background: #fff;
}
.bottom_sec::before {
    width: 100%;
    height: 90px;
    top: 0px;
    background-position: center;
    z-index: 0;
}
.detail_btn {
    z-index: 33;
}
.bottom_sec {
    padding: 115px 20px 100px;
}
.top::before {
    width: 70px;
    height: 66px;
    background-size: cover;
    bottom: 56px;
    right: 106px;
    background-repeat: no-repeat;
}
.calory_inner .cal_unit {
    left: 46%;
    top: 43%;
}

}
@media screen and (max-width: 480px){
  .mid_inner:before {
      bottom: -55px;
      background-size: 115%;
      background-position: center;
      height: 55px;
  }
  #panel {
      padding: 20px 20px;
  }
section.progress_main {
    padding-top: 25px;
}
.bottom_sec::before {
    top: -5px;
}
.bottom_sec {
    padding: 75px 20px 85px;
}
.top::before {
    bottom: 45px;
    right: 89px;
    width: 51px;
    height: 48px;
}

.carousel-wrap {
    margin: 15px auto 0;
}
.calory_inner {
    width: 140px;
    margin: 0 auto;
}
.calory_inner .cal_unit {
    left: 52%;
    top: 57%;
}
svg {
    margin: -15px 0px 20px auto;
}

header .title, .bottom_sec .title {
    font-size: 20px;
}
  .mid_inner {
  left: 53%;
}

}
@media screen and (max-width: 414px){
.mid_inner {
      left: 53%;
  }
.bottom_sec::before {
    top: -11px;
    height: 85px;
}
.box_pattern {
    margin-left: -8px;
}
.col-12.bottom {
    padding: 10px 33px 10px;
}
.top::before {
    bottom: 31px;
    right: 70px;
    width: 40px;
    height: 38px;
}
.col-12.bottom {
    padding: 10px 33px 10px;
}
a.add_btn {
    width: 34px;
    height: 34px;
}
a.add_btn > i.fas.fa-plus {
    padding: 9px;
}
.carousel-wrap .total_cal {
    font-size: 23px;
}
.totle_cal_unit {
    padding-top: 3px;
}
.breakfast,
.lunch,
.snack,
.dinner{
  min-height: auto;
}
.owl-carousel .owl-item .add_btn img {
    padding: 9px 0;
}
  .mid_inner:before {
      bottom: -45px;
      height: 70px;
  }
}
@media screen and (max-width: 375px){

.bottom_sec img.pt-2 {
    padding-top: 3px !important;
}
.bottom_sec {
    padding: 75px 20px 100px;
}

footer .f-box {
    padding: 0 5px;
}
.box_pattern {
    margin-left: -3px;
}
.bottom_sec::before {
    top: -15px;
}
  .mid_inner {
      left: 54%;
  }
  .mid_inner:before {
      bottom: -35px;
      height: 50px;
  }
}
@media screen and (max-width: 360px){
.box_pattern {
    margin-left: -4px;
}
.col-12.bottom {
    padding: 15px 33px 28px;
}
a.add_btn {
    width: 40px;
    height: 40px;
}
.owl-carousel .owl-item .add_btn img {
    padding: 12px 0;
}
a.add_btn > i.fas.fa-plus {
    padding: 14px;
}
.carousel-wrap .total_cal {
    font-size: 27px;
}
.top::before {
    bottom: 71px;
    right: 160px;
    width: 51px;
    height: 48px;
}
  .mid_inner:before {
      bottom: -39px;
      height: 40px;
  }

}
@media screen and (max-width: 320px){
.breakfast {
    box-shadow: 10px 13px 8.07px -6.93px rgba(250, 116, 127, 0.29);
    -webkit-box-shadow: 10px 13px 8.07px -6.93px rgba(250, 116, 127, 0.29);
}
.lunch {
    box-shadow: 10px 13px 8.07px -6.93px rgba(94, 100, 223, 0.29);
    -webkit-box-shadow: 10px 13px 8.07px -6.93px rgba(94, 100, 223, 0.29);
}
.snack{
     box-shadow: 10px 13px 8.07px -6.93px rgba(255, 85, 137, 0.29);
    -webkit-box-shadow:10px 13px 8.07px -6.93px rgba(255, 85, 137, 0.29);
}
.dinner{
    box-shadow: 10px 13px 8.07px -6.93px rgba(233, 144, 16, 0.29);
  -webkit-box-shadow:10px 13px 8.07px -6.93px rgba(233, 144, 16, 0.29);
}
.top::before {
    bottom: 62px;
    right: 130px;
}
.progress_main .col-3.col-sm-3 {
    flex: 50%;
    max-width: 50%;
    padding-bottom: 15px;
}
.Detail {
    margin-top: 5px !important;
}
.box_pattern {
    margin-left: -7px;
}
.calory_inner {
    width: 120px;
    margin: 0 auto;
}
svg {
    margin: 2px 0px 20px auto;
}
.calory_inner .cal_unit {
    left: 50%;
}
  .mid_inner {
      left: 55%;
  }
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
