html {
  height: 100%;
  margin: auto;
  overflow-x : hidden
}

.clickable {
  cursor: pointer;
}

.dropdown {

  background: url('assets/img/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 150px;

}

/* progress */
.progress {
  overflow: visible;
  height: 10px;
}
.progress {
  overflow: hidden;
  background: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  height: 5px;
}
.progress.p1{
background:#eaeefc;
}
.progress.p2{
background:#ffe7ee;
}
.progress.p3{
background:#fff4ce;
}
.progress.p4{
background:#dff4ed;
}
.progress.p1 .progress-bar {
  background: #c3d1ff; /* Old browsers */
background: -moz-linear-gradient(left, #c3d1ff 0%, #98afff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #c3d1ff 0%,#98afff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #c3d1ff 0%,#98afff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
border-radius: 20px;
}
.progress.p2 .progress-bar {
  background: #ffa1be; /* Old browsers */
  background: -moz-linear-gradient(left, #ffa1be 0%, #ff578a 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffa1be 0%,#ff578a 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffa1be 0%,#ff578a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}
.progress.p3 .progress-bar {
  background: #ffd65c; /* Old browsers */
  background: -moz-linear-gradient(left, #ffd65c 0%, #ffc24b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #ffd65c 0%,#ffc24b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #ffd65c 0%,#ffc24b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}
.progress.p4 .progress-bar {
   background: #cff5e8; /* Old browsers */
  background: -moz-linear-gradient(left, #cff5e8 0%, #89d8bc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #cff5e8 0%,#89d8bc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #cff5e8 0%,#89d8bc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 20px;
}

/* Carousel */

inner_img {
  margin-top: -20px;
  padding-left: 10px;
}

img.inner_img {
  margin-top: -20px;
  padding-left: 10px;
  background-repeat: no-repeat;
  background-size: 100%;
}

.inner_text {

  color: white;
  margin-top: -30px;
  padding-left: 10px;

}

.owl-item {
  opacity: 0;
  transition: opacity 500ms;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}
.owl-item.active {
  opacity: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
}

.add {
  background: url('assets/img/add_recipe_bg.png');
  background-size: 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 22px;
  border: 2px dashed #89d8bc;
    box-shadow: 8px 16px 14.07px -4.93px rgba(255, 255, 255, 0.29);
  -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(255, 255, 255, 0.29);
  min-height: 250px;
  overflow:visible;

}

.breakfast{
  background: url('assets/img/breakfast_bg.png');
  background-size: 100%;
  background-position: 0 0;
  background-color: #fb757f;
  background-repeat: no-repeat;
  border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(250, 116, 127, 0.29);
  -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(250, 116, 127, 0.29);
  min-height: 325px;
  overflow:visible
}
  .lunch{
  background: url('assets/img/lunch_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #5f65e0;
    background-repeat: no-repeat;
    border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(94, 100, 223, 0.29);
  -webkit-box-shadow:8px 16px 14.07px -4.93px rgba(94, 100, 223, 0.29);
    min-height: 325px;
  }
  .snack{
  background: url('assets/img/snack_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #ff6896;
    background-repeat: no-repeat;
    border-radius: 22px;
     box-shadow: 8px 16px 14.07px -4.93px rgba(255, 85, 137, 0.29);
    -webkit-box-shadow: 8px 16px 14.07px -4.93px rgba(255, 85, 137, 0.29);
    min-height: 325px;
  }
  .dinner{
  background: url('assets/img/dinner_bg.png');
    background-size: 100%;
    background-position: 0 0;
    background-color: #e78d0c;
    background-repeat: no-repeat;
    border-radius: 22px;
    box-shadow: 8px 16px 14.07px -4.93px rgba(233, 144, 16, 0.29);
  -webkit-box-shadow:8px 16px 14.07px -4.93px rgba(233, 144, 16, 0.29);
  min-height: 325px;
  }

/*footer*/
footer {
  /* padding: 15px 20px; */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 1;
}
footer .f-box{
flex: 20%;
  max-width: 20%;
}
a .box_img {
  width: 25px;
  height: 25px;
  background: url('assets/img/sprite.png');
  background-repeat: no-repeat;
  background-position: -1px 0;
  margin: 0 auto;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a:hover .box_img.diary{
background-position: -1px -43px;
transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
a .box_img.friend{
background-position: -1px -87px;
}
a:hover .box_img.friend{
background-position: -1px -130px;
}
a .box_img.plans{
background-position: -1px -177px;
}
a:hover .box_img.plans{
background-position: -1px -227px;
}
a .box_img.recipes{
background-position: -1px -277px;
}
a:hover .box_img.recipes{
background-position: -1px -330px;
}
footer a:hover .content{
color: #ff457d;
transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
footer a .content {
  margin: 0 auto;
  color: #aeabbc;
  letter-spacing: 1px;
  font-size: 14px;
  text-align: center;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

}
.plus_btn {
  padding-top: 8px;
  width: 47px;
  height: 47px;
  color: #fff;
  background-color: #ff457d;
  border-radius: 15px;
  display: block;
  text-align: center;
  margin: 0 auto ;
  box-shadow: 0px 8px 7.6px 0.4px rgba(255, 69, 125, 0.34);
  -webkit-box-shadow: 0px 8px 7.6px 0.4px rgba(255, 69, 125, 0.34);
}

.box_pattern {
  background-color: #fff;
  border-radius: 15px;
  padding: 10px;
  width: 67px;
  margin: -35px auto 0;
}
.owl-carousel .owl-stage-outer {
  overflow: visible;
}
#panel {
  padding: 0 20px 40px;
  display:none;
  width: 100%;

}

html, body { height: 100%; background-color: #f9fbff; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
