<ng-content></ng-content>
<div class="card-container">
  <div class="card card-blog">
    <div class="card-header card-header-image">
      <a href="#pablo">
        <img [src]='element.image' alt="">
      </a>
    <div class="colored-shadow" style="background-image: url('{{element.image}}}'); opacity: 1;"></div></div>
    <div class="card-body">
      <h6 class="card-category text-warning">{{element.name}}</h6>
      <h4 class="card-title">
        <button type="button" class="btn btn-rose pull-right"><a href="{{element.url}}">View Recipe</a></button>
      </h4>
    </div>
  </div>
</div>

