<div class="container" style="background: #f3f5f9; padding-bottom: 100px;">

  <div class="row">

    <div class="col-6">

      <button class="btn btn-primary" (click)="generate()">
        Generate
      </button>

    </div>

    <div class="col-6">

      <button class="btn btn-default" (click)="clearAll()">
        Clear
      </button>

    </div>

  </div>

  <!-- 'i' represents the index of the day in allRecipes, 'j' represents the index of the recipe in the day's recipes array -->
  <ng-container *ngFor="let dayWithRecipes of allRecipes; let i = index">

    <div class="row">

      <div class="col-12 col-sm-12">
        <h3>{{dayWithRecipes.day}} <small>- {{dayWithRecipes.edamamRecipes.length + dayWithRecipes.edamamFoods.length}} meals</small></h3>
      </div>

    </div>

    <div class="mb-3"></div>

    <div class="row" *ngIf="dayWithRecipes.edamamRecipes.length === 0">

      <div class="col-12">
        <h5 class="text-center">No recipes - Fill now by selecting '+' button below</h5>
      </div>

    </div>

    <owl-carousel [options]="mySlideOptions" [items]="myCarouselItems" [carouselClasses]="['owl-carousel', 'owl-theme']" #owlElement *ngIf="dayWithRecipes.edamamRecipes.length > 0">
      <div class="item" *ngFor="let item of mySlideItems[i]; let j = index">

        <div [class]="item.mealTypeHTML" (dblclick)="navigateToRecipe(item.genericID, i)">
          <div class="row">
              <div class="col-12">
                <div class="clickable" style='position: fixed; right: 20px' (click)="this.removeMealFromDay(dayWithRecipes.day, item.edamamType, item.genericID);">
                  <i class="material-icons" style="color: white">close</i>
                </div>
                <img src="./assets/img/{{item.mealTypeHTML}}_main.png" alt="" class="inner_img">
                <div class="inner_text">
                  <h3>{{item.mealType}}</h3>
                  <h4>{{item.name}}</h4>
                  <h4>{{item.calories}} kcal</h4>
                </div>
              </div>

          </div>
        </div>
      </div>
    </owl-carousel>

    <div class="row" *ngIf="dayWithRecipes.edamamRecipes.length > 0">

      <div class="col-3 col-sm-3">
        <h6>Carbs</h6>
        <div class="progress p1">
          <div class="progress-bar " role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars[i].carbsPercentage + '%'"></div>
        </div>
        <p>{{progressBars[i].carbsRemaining}}g left</p>
      </div>

      <div class="col-3 col-sm-3">
        <h6>Protein</h6>
        <div class="progress p2">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars[i].proteinPercentage + '%'"></div>
        </div>
        <p>{{progressBars[i].proteinRemaining}}g left</p>
      </div>

      <div class="col-3 col-sm-3">
        <h6>Fat</h6>
        <div class="progress p3">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars[i].fatPercentage + '%'"></div>
        </div>
        <p>{{progressBars[i].fatRemaining}}g left</p>
      </div>

      <div class="col-3 col-sm-3">
        <h6>Calories</h6>
        <div class="progress p4">
          <div class="progress-bar" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="10" [style.width]="progressBars[i].caloriesPercentage + '%'"></div>
        </div>
        <p>{{progressBars[i].caloriesRemaining}}g left</p>
      </div>

    </div>

  </ng-container>


</div>
