<div class="container">

  <div class="row">
    <div class="col-12">
      <h3>Help Section</h3>
    </div>
  </div>

  <div class="row">

    <div class="col-12">

      <h4>1. Viewing all the recipes in a day</h4>
      <p>Simply just swipe left on the recipes in a day in order to view the rest of the recipes in that day</p>
      <img src="/assets/img/day-recipes-help.JPG" height=440 width=484>

      <h4>2. Viewing the ingredients and other information about a recipe</h4>
      <p>Simply just double click any of the recipes to view more details about it</p>
      <img src="/assets/img/day_recipes_help_dblclick.jpg" height=440 width=484>

    </div>

  </div>

</div>

<footer>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/home">
      <span class="box_img home d-block"></span>
      <span class="d-block content">Home</span>
    </a>
  </div>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/plan">
      <span class="box_img plan d-block"></span>
      <span class="d-block content">Plan</span>
    </a>
  </div>
  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/progress">
        <span class="box_img prog d-block"></span>
        <span class="d-block content">Progress</span>
    </a>
  </div>

  <div class="col-2 col-sm-2 f-box">
    <a routerLink="/settings">
      <span class="box_img settings d-block"></span>
      <span class="d-block content">Help</span>
    </a>
  </div>
</footer>
